@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box; }

.colors {
  color: #979797;
  color: #2a3235;
  color: #242829;
  color: #202528; }

body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  position: relative; }

.container {
  height: 70vh; }
  .container .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 50vh; }
    .container .wrapper h2 {
      margin-bottom: 0;
      font-size: 2.1rem;
      color: #242829; }
    .container .wrapper p {
      margin-top: 18px;
      margin-bottom: 15px;
      font-size: 1.4rem;
      color: #242829; }
    .container .wrapper a {
      text-decoration: none;
      color: #fff;
      background: #2a3235;
      padding: 12px 35px;
      border-radius: 30px;
      font-size: 1.1rem;
      outline: 0; }
      .container .wrapper a .arrow {
        margin-left: 15px;
        pointer-events: none; }
      .container .wrapper a:hover {
        background: #202629; }
    .container .wrapper h1 {
      color: #fff;
      font-family: 'Playfair Display', serif;
      text-transform: capitalize;
      font-weight: lighter;
      letter-spacing: 1px;
      margin: 50px 0;
      font-size: 3rem;
      line-height: 1; }

#meal {
  position: relative;
  padding: 0 0 100px;
  color: #242829;
  background: #fff; }
  #meal .wrapper {
    position: absolute;
    background: #fff;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    top: -65px;
    z-index: 10;
    padding: 25px 40px; }
  #meal .grid {
    display: grid;
    grid-template-columns: 40% 1fr;
    column-gap: 55px; }
    #meal .grid .image img {
      max-width: 100%; }
    #meal .grid .image p {
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-weight: bold; }
      #meal .grid .image p .bold {
        color: #8a8e91;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 2px; }
    #meal .grid .ingredients {
      margin-top: 0; }
      #meal .grid .ingredients h5 {
        color: #979797;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0; }
      #meal .grid .ingredients ul {
        list-style: none;
        padding-left: 0; }
        #meal .grid .ingredients ul li {
          margin-bottom: 20px;
          font-size: 1.1rem; }
  #meal .instructions {
    max-width: 70%; }
    #meal .instructions h5 {
      color: #979797;
      font-size: 0.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 20px 0 0; }
    #meal .instructions p {
      line-height: 1.7;
      font-size: 1.2rem; }

.container.adjustheight {
  height: 50vh;
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/food.jpg") no-repeat center center;
  background-size: cover; }
  .container.adjustheight h2 {
    display: none; }
  .container.adjustheight p {
    visibility: hidden; }
  .container.adjustheight .wrapper {
    align-items: inherit;
    height: initial; }
    .container.adjustheight .wrapper h1 {
      text-align: left; }
    .container.adjustheight .wrapper a {
      width: 220px;
      background: #fff;
      color: #202629;
      margin: 0 auto; }

#meal.adjustheight {
  height: 200vh;
  background: #fff; }
  #meal.adjustheight .wrapper {
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3); }

.top-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;
  text-decoration: none;
  color: #fff;
  background: #2a3235;
  padding: 7px 18px;
  border-radius: 50%;
  font-size: 1.5rem;
  outline: 0; }
  .top-btn .arrow {
    display: block;
    padding: 0 0 5px 1px; }
  .top-btn:hover {
    background: #202629; }

/*# sourceMappingURL=style.css.map */
